.cart-box{
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding:1rem 0.5rem ;
    border-bottom:1px solid lightgrey ;
    
}
.cart-box div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-image-wrapper img{
    width: 7rem;
    height: 7rem;
}